# Url Dataset
**https://snap.stanford.edu/data/as-Caida.html**

# Description Dataset
The dataset contains 122 CAIDA AS graphs, from January 2004 to November 2007 - http://www.caida.org/data/active/as-relationships/.

Each file contains a full AS graph derived from a set of RouteViews BGP table snapshots.

Directed graph: as-caida20071105.txt
 
The CAIDA AS Relationships Dataset, from 11 05 2007
 
Relationships:
- -1 (<FromNodeId> is a customer of <ToNodeId>)
- 1 (<FromNodeId> is a provider of <ToNodeId>)
- 0 (<FromNodeId> and <ToNodeId> are peers)
- 2 (<FromNodeId> and <ToNodeId> are siblings (the same organization).)

Nodes: 26475

Edges: 106762

load library and dataset

In [1]:
import pandas as pd
df = pd.read_csv('dataset/as-caida20071105.txt', sep='\t', header=7, names=['from_node', 'to_node', 'relationship_code'])
df

        from_node  to_node  relationship_code
0            8563     3216                 -1
1            8563    21482                  1
2            8563     4323                 -1
3           28801     8422                 -1
4           28801     8220                 -1
...           ...      ...                ...
106757      27394     7018                 -1
106758      27394     7132                 -1
106759      21450     8551                 -1
106760      21450     8584                 -1
106761      21450     5486                 -1

[106762 rows x 3 columns]

# Total Number Of Graph In Dataset

In [14]:
print('Total Number Of Graph In Dataset {}'.format(len(df)))

Total Number Of Graph In Dataset 106762

# Class Label

In [3]:
def get_class_label(id):
    if id == -1:
        return "customer"
    elif id == 1:
        return "provider"
    elif id == 0:
        return "peer"
    else:
        return "sibling"
df['relationship'] = df['relationship_code'].apply(get_class_label)
for i, label in enumerate(df.relationship.unique().tolist()):
    print('{}. {}'.format(i+1, label))

1. customer
2. provider
3. peer
4. sibling

# Number Of Graph In Each Class

In [10]:
def len_each_class(kelas):
    for c in kelas:
        print('number of graph in class {} is {}'.format(c, len(df[df.relationship == c])))

def jml_setiap_kelas(kelas):
    jml = []
    for c in kelas:
        jml.append(len(df[df.relationship == c]))
    return jml
        
len_each_class(df.relationship.unique().tolist())

number of graph in class customer is 49180
number of graph in class provider is 49180
number of graph in class peer is 7952
number of graph in class sibling is 450

# Minimun Number Of Nodes

count unique node

In [5]:
len(df.from_node.unique())

26475

In [12]:
min(jml_setiap_kelas(df.relationship.unique().tolist()))

450

# Maximum Number Of Nodes

In [13]:
max(jml_setiap_kelas(df.relationship.unique().tolist()))

49180